@using SVDWebsite.Code;
@using Webdiyer.WebControls.Mvc
@model SVDWebsite.Models.BrowseByVehicleTypeModel
@{
    ViewBag.Title = "Latest " + Model.VehicleType.Name + "s";
}
<h1><span class="faint">Browse:</span> @Model.VehicleType.Name<text>s</text></h1>
<div class="clearBox mt10">
    Statistics for @Model.VehicleType.Name.ToLower()<text>s</text> coming soon!
</div>
<div class="box mt10 mb10">
    Here are the latest @Model.VehicleType.Name.ToLower()<text>s</text> to be added.
</div>
<div class="mb10">
    @Html.Pager(Model.Vehicles, new PagerOptions{PageIndexParameterName="page"})
</div>

@foreach (var v in Model.Vehicles)
{
    <div class="panel">
        <div class="mb10">
            @{
                var href = Url.Action("show", "profiles", new { name = Helpers.ToUrlPart(v.Title), id = v.Id }, "http");
                if (v.Photos.Count > 0)
                {
                    Html.DynamicImageLink(href, v.Photos[0], 170, true);
                }
                else
                {
                    <a href="@href"><img src="http://mpncdn.eu/svd/c/images/unknown.gif" alt="" width="170" height="170" /></a>
                }
            }
        </div>
        <div class="title">@Html.ActionLink(v.Title, "show", "profiles", new { name = Helpers.ToUrlPart(v.Title), id = v.Id }, null)</div>
        <div><b>Type:</b> @v.Model.Type.Name</div>
        <div><b>Date stolen:</b> @v.TheftDate.Value.ToLongDateString()</div>
        @if (v.TheftLocationPlaces.Count > 0)
        {
            var country = v.TheftLocationPlaces.Single(q => q.Type == SVD.PlaceType.Country);
            var city = v.TheftLocationPlaces.SingleOrDefault(q => q.Type == SVD.PlaceType.AdministrativeAreaLevel2);
            if (city != null)
            {
            <div>
                <b>City/County:</b>
                @Html.ActionLink(city.Name, "show", "places", new { id = city.Id, name = Helpers.ToUrlPart(city.Name) }, null)
            </div>
            }
            <div>
                <b>Country:</b>
                @Html.ActionLink(country.Name, "show", "places", new { id = country.Id, name = Helpers.ToUrlPart(country.Name) }, null)
            </div>
            if (v.Status == SVD.VehicleStatus.Retrieved)
            {
                <div class="standout1 rounded mt5 ib">
                    Retrieved!
                </div>
            }
        }
        <div class="clear"></div>
    </div>
}

@Html.Pager(Model.Vehicles, new PagerOptions{PageIndexParameterName="page"})